
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <ul>
      <% users.forEach( user => {%>
        <%-  %>
      <% }) %>
    </ul>
    <%- include('navbar', {links: links}) %>
  </body>
</html>
